<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Pragma" CONTENT="no-cache">
        <title>Guest WiFi</title>
        <link rel="shortcut icon" href="/images/favicon.png">
        <link rel="icon" href="/images/favicon.png">
        <style>
            html {
                background:#21333e;             
                text-align:center;
                font-family:Verdana,Arial,Helvetica
            }
            .container {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0; 
            }
            .content {
                padding: 0 25px 10px 25px;
                max-width: 680px;
                display: inline-block;
                background-color: #444f53;
                color: #fff;
                border-radius: 45px;
            }
            img {
                margin:auto;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <h1>Guest WiFi</h1>
                <span id="warning"></span>
                <div id="qrcode"></div>
                <h2 style="display: none;">
                    <span id="ssid_row">SSID: <span id="ssid"></span><br /></span>
                    <span id="security_row">SECURITY: <span id="security"></span><br /></span>
                    <span id="password_row">PASSWORD: <span id="password"></span></span>
                </h2>
            </div>
        </div>
        <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
        <script type="text/javascript">
            var SSID = '<% nvram_get("#INTERFACE#_ssid"); %>';
            var PASSWORD = '<% nvram_get("#INTERFACE#_wpa_psk"); %>';
            var SECURITY = '<% nvram_get("#INTERFACE#_auth_mode_x"); %>';
            var ENABLED = '<% nvram_get("#INTERFACE#_bss_enabled"); %>';

            function getSecurityString(value) {
                switch (value) {
                    case 'open':
                        return 'None';
                    case 'psk2':
                        return 'WPA2';
                    case 'sae':
                        return 'WPA3';
                    case 'pskpsk2':
                        return 'WPA/WPA2';
                    case 'psk2sae':
                        return 'WPA2/WPA3';
                }

                return 'Unknown';
            }

            function createQRCode(el, ssid, password) {
                var qrstring = '';

                if (password && password.length > 0) {
                    qrstring = "WIFI:S:" + ssid + ";T:WPA;P:" + password + ";;";
                } else {
                    qrstring = "WIFI:S:" + ssid + ";T:nopass;;;";
                }

                new QRCode(el, {
                    text: qrstring,
                    width: 350,
                    height: 350,
                });
            }

            (function() {
                document.getElementById('ssid').innerHTML = SSID;
                document.getElementById('password').innerHTML = PASSWORD;
                document.getElementById('security').innerHTML = getSecurityString(SECURITY);
                
                if (SSID.length > 0) {
                    document.querySelector('.content h2').style.display = 'block';
                    document.title += ' "' + SSID + '"';

                    if (PASSWORD.length > 0 && SECURITY != 'open') {
                        createQRCode(document.getElementById("qrcode"), SSID, PASSWORD);
                    } else {
                        createQRCode(document.getElementById("qrcode"), SSID);
                        document.getElementById('password_row').style.display = 'none';
                    }

                    if (ENABLED != 1) {
                        document.getElementById('warning').innerHTML = '<h2>This network is not active!</h2>';
                    }
                } else {
                    document.querySelector('.content h2').style.display = 'none';
                    document.getElementById('warning').innerHTML = '<h2>This network does not exist!</h2>';
                }
            })();
        </script>
    </body>
</html>
